@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: #7bdaf3;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-wrap: wrap;
	padding-top: 3rem;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}

button {
	cursor: pointer;
	border: none;
	outline: none;
}

button:active {
	opacity: 0.8;
}

/* textarea {
	resize: none;
} */

.hidden {
	display: none;
}

.add {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background-color: #9ec862;
	border-radius: 3px;
	padding: 0.5rem 1rem;
}

.note {
	background-color: #fff;
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
	margin: 30px 20px;
	width: 400px;
	height: 400px;
	overflow-y: scroll;
}

.note::-webkit-scrollbar {
	display: none;
}

.note .tools {
	background-color: #9ec862;
	display: flex;
	justify-content: flex-end;
	padding: 0.5rem;
}

.note .tools button {
	background-color: transparent;
	color: #fff;
	font-size: 1rem;
	margin-left: 0.45rem;
}

.main {
	padding: 15px;
}

.note textarea {
	outline: none;
	border: none;
	font-family: inherit;
	font-size: 1.2rem;
	height: 400px;
	width: 100%;
	padding: 20px;
	letter-spacing: 1px;
	word-spacing: 4px;
}
