* {
	box-sizing: border-box;
	margin: 0;
}

body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	background-color: #4682b4;
}

.empty {
	height: 150px;
	width: 150px;
	margin: 10px;
	border: solid 3px #000;
	background-color: #fff;
}

.fill {
	background-image: URL('https://source.unsplash.com/random/150x150');
	height: 145px;
	width: 145px;
	cursor: pointer;
}

.invisible {
	display: none;
}
.hold {
	border: solid 5px #ccc;
}

.hovered {
	background-color: #333;
	border: dashed 3px #fff;
}
@media (max-width: 800px) {
	body {
		flex-direction: column;
	}
}
