@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
}

input,
button {
	border: none;
	outline: none;
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

.toggle-container {
	display: flex;
	align-items: center;
	margin: 10px 0;
	width: 200px;
}

.toggle {
	display: none;
}

.label {
	background-color: #d0d0d0;
	border-radius: 50px;
	cursor: pointer;
	width: 80px;
	height: 40px;
	display: inline-block;
	margin: 0 15px 0;
	position: relative;
}

.toggle:checked + label {
	background-color: #8e44ac;
}

.ball {
	background: #fff;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 4px;
	transform: translateY(-50%);
	transition: all 0.2s linear;
}

.toggle:checked + label .ball {
	left: calc(100% - 4px);
	transform: translate(-100%, -50%);
}
