@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
:root {
	--line-color: #3498db;
}
* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: #f6f7fb;
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}
.container {
	text-align: center;
}

.progress-container {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 30px;
	max-width: 100%;
	width: 350px;
}

.progress-container::before {
	content: '';
	background-color: #e0e0e0;
	top: 50%;
	position: absolute;
	left: 0;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	z-index: -1;
	transition: 0.4s ease;
}

.progress {
	background-color: var(--line-color);
	top: 50%;
	position: absolute;
	left: 0;
	transform: translateY(-50%);
	height: 4px;
	width: 0;
	transition: 0.4s ease;
	z-index: -1;
}

.circle {
	height: 35px;
	width: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	color: #999;
	border-radius: 50%;
	border: solid 3px #e0e0e0;
	transition: 0.4s ease;
}

.circle.active {
	border-color: var(--line-color);
}

.btn {
	border-radius: 6px;
	background-color: var(--line-color);
	border: none;
	outline: none;
	color: #fff;
	padding: 8px 30px;
	margin: 5px;
	font-size: 14px;
	cursor: pointer;
	font-family: inherit;
}

.btn:enabled:active {
	transform: scale(0.98);
}

.btn:disabled {
	background-color: #e0e0e0;
	cursor: default;
}
